<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h5><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h5>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :category_id, class: 'form-label' %>
    <%= form.collection_select :category_id, Category.all, :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="mb-2">
    <%= form.label :date_of_occurrence, class: 'form-label' %>
    <%= form.text_field :date_of_occurrence, class: 'form-control' %>
  </div>

  <div class="mb-2">
    <%= form.label :content, class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control', rows: 20, required: true %>
  </div>

  <div class="mb-2">
    <%= form.submit(class: 'btn btn-outline-primary ') %>
  </div>
<% end %>
