<table class="table mb-2">
	<thead>
	  <th>Category</th>
	  <th>Content</th>
	  <th>Occurrence</th>
	  <th></th>
	</thead>
	<tbody>
		<% questions.each do |q| %>
			<tr>
				<td><%= link_to q.category.name, q.category %></td>
				<td title="<%= q.content %>"><%= link_to q.content.truncate(70), q %></td>
				<td><%= q.date_of_occurrence %></td>
				<td><%= link_to 'Generate', new_question_answer_path(q), class: 'btn btn-outline-primary btn-sm' %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="my-4">
  <%== pagy_bootstrap_nav(pagy) %> 
</div>