<div id="<%= dom_id question %>">
  <h3> <%= question.content %> </h3>
  <p>
    <strong>Category:</strong>
    <%= question.category.name %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= question.user.email %>
  </p>

  <p>
    <strong>Date of occurrence:</strong>
    <%= question.date_of_occurrence %>
  </p>

  <div class="my-4">
    <% question.answers.where(user_id: current_user.id).order('created_at DESC').each do |answer| %>
      <section>
      <p>
        <strong class="">keywords: </strong> <%= answer.keywords %>
      </p>
        <%= to_md answer.content%>
      </section>
    <% end %>
  </div>


</div>
