<div id="<%= dom_id question %>">
  <p>
    <strong>Category:</strong>
    <%= question.category_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= question.user_id %>
  </p>

  <p>
    <strong>Date of occurrence:</strong>
    <%= question.date_of_occurrence %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

</div>
