<%= form_with(model: setting) do |form| %>
  <% if setting.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h4>

      <ul>
        <% setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :openai_key, class: 'form-label' %>
    <%= form.text_field :openai_key, class: 'form-control' %>
  </div>

  <div class="mb-4">
    <%= form.label :openai_proxy, class: 'form-label' %>
    <%= form.text_field :openai_proxy, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit(class: 'btn btn-outline-primary') %>
  </div>
<% end %>
