<div class="card my-4">
  <div class="card-body">
    <h3 class="card-title"><%= card.front%>
      <span class="" style="font-size: .8em"><%= card.learned? ? '✅' : ''%></span>
    </h3>
    <div class="d-flex flex-column flex-md-row justify-content-between my-3">
      <h6 class="card-subtitle mb-2 text-body-secondary">View Count: <%= card.view_count %></h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">Deck: <%= link_to card.deck.name, deck_path(card.deck) %></h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">Created: <%= card.created_at.to_fs(:db) %></h6>
    </div>
    <article class="card-text">
      <%= to_md(card.back)%>
    </article>
    <div class="row">
      <div class="col">
        <% if card.next %>
          <a href="<%= card_path(card.next)%>" class="btn btn-outline-primary">Next</a>
        <% end %>
      </div>
      <div class="col">
        <% text = card.learned? ? 'Forget' : 'Learned' %>
        <a href="<%= toggle_card_path(card)%>" class="btn btn-outline-success"><%= text %></a>
      </div>
    </div>
  </div>
</div>
