  <table class="table">
    <thead>
      <th>Front</th>
      <th>Deck</th>
      <th>View Count</th>
      <th>Created At</th>
    </thead>
    <tbody>
      <% cards.each do |card| %>
        <tr>
          <td><%= link_to card.front, card_path(card) %></td>
          <td><%= link_to card.deck.name, deck_path(card.deck) %></td>
          <td><%= card.view_count %></td>
          <td><%= time_ago_in_words(card.created_at) %> ago </td>
        </tr> 
      <% end %>
    </tbody>
  </table>

  <% if pagy%>
	  <div class="row">
	    <div class="col"> <%== pagy_bootstrap_nav(@pagy) %> </div>
	  </div>
  <% end %>