<p style="color: green"><%= notice %></p>

<h3>Prompts</h3>
<%= link_to "New Prompt", new_ai_prompt_path %>

<div id="ai_prompts">
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Operation</th>
    </thead>
    <tbody>
      <% @ai_prompts.each do |ai_prompt| %>
        <tr>
          <td><%= ai_prompt.id %></td>
          <td><%= link_to ai_prompt.name, ai_prompt %></td>
          <td><%= link_to 'Edit', edit_ai_prompt_path(ai_prompt), class: 'btn btn-sm btn-outline-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

