<p style="color: green"><%= notice %></p>

<%= render @ai_prompt %>

<div>
  <%= link_to "Edit this ai prompt", edit_ai_prompt_path(@ai_prompt) %> |
  <%= link_to "Back to ai prompts", ai_prompts_path %>

  <%= button_to "Destroy this ai prompt", @ai_prompt, method: :delete %>
</div>
