<!DOCTYPE html>
<html data-bs-theme="auto">
  <head>
    <title>Ranki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller="hello" data-action="keyup@window->hello#newCard">
    <%= render('shared/nav')%>
    <%= render('shared/notice')%>
    <main class="container" style="min-height:86vh">
      <div class="row">
        <div class="col-md-8"> <%= yield %> </div>
      </div>
      <div class="position-fixed bottom-0 end-0 mb-3 me-3">
        <a href="<%= new_card_path %>" style="font-size:1.5em"><i class="bi bi-plus-circle"></i></a>
      </div>
    </main>
    <%= render('shared/footer')%>
  </body>
</html>
